@import url('https://fonts.googleapis.com/css2?family=Modak&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(0, 0, 0);
  color: #111;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Modak',poppins;
  font-size: 5rem;

}
.circle{
  width: 350px;
  height: 100px;
  border-radius: 30px;
  border:2px solid rgb(255, 0, 0);
  border-top:2px solid rgb(0, 255, 85);
  border-bottom:2px solid rgb(251, 255, 0);
  border-left:2px solid rgb(18, 2, 235);
  animation: animatecolor 1s linear infinite;
}
@keyframes animatecolor{
  0%{
    filter: hue-rotate(0deg);

  }
  50%{
    filter: hue-rotate(180deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.container{
  display: flex;
  justify-content: center;
}
.container span{
  animation: finer 1s ease-in-out infinite;
}
@keyframes finer{
  0%,100%{
    color: #fff;
    text-shadow: 0 0 12px lime, 0 0 50px lime, 0 0 100px lime;
  }
  10%, 90%{
    color: #111;
    text-shadow: none;
  }
}
.container span:nth-child(2){
  animation-delay:0.20s ;
}
.container span:nth-child(3){
  animation-delay: 0.40s;
}
.container span:nth-child(4){
  animation-delay:0.60s ;
}
.container span:nth-child(5){
  animation-delay: 0.80s;
}